<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="notificationsForm">

        <!-- Section -->
        <div class="w-full text-xl">Alertas</div>
        <div class="grid grid-cols-1 gap-6 w-full mt-8">
            <!-- Communication -->
            <div class="flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="communication.toggle()">
                    <div class="leading-6 font-medium">Comunicação</div>
                    <div class="text-md text-secondary">Receba notícias, anúncios e atualizações de produtos.</div>
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'communication'"
                    #communication>
                </mat-slide-toggle>
            </div>
            <!-- Security -->
            <div class="flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="securityToggle.toggle()">
                    <div class="leading-6 font-medium">Segurança</div>
                    <div class="text-md text-secondary">
                        Receba notificações importantes sobre a segurança da sua conta.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'security'"
                    #securityToggle>
                </mat-slide-toggle>
            </div>
            <!-- Meetups -->
            <div class="flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="meetupsToggle.toggle()">
                    <div class="leading-6 font-medium">Novos Postos</div>
                    <div class="text-md text-secondary">
                        Receber um email a cada posto novo criado.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'meetups'"
                    #meetupsToggle>
                </mat-slide-toggle>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full text-xl">Atividade da conta</div>
        <div class="w-full mt-8 font-medium">Envie-me um e-mail quando:</div>
        <div class="grid grid-cols-1 gap-4 w-full mt-4">
            <!-- Comments -->
            <div class="flex items-center justify-between">
                <div
                    class="flex-auto leading-6 cursor-pointer"
                    (click)="comments.toggle()">
                    haverá alguma cobrança
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'comments'"
                    #comments>
                </mat-slide-toggle>
            </div>
            <!-- Mention -->
            <div class="flex items-center justify-between">
                <div
                    class="flex-auto leading-6 cursor-pointer"
                    (click)="mention.toggle()">
                    algum problema com meu cartão
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'mention'"
                    #mention>
                </mat-slide-toggle>
            </div>
            <!-- Follow -->
            <!-- <div class="flex items-center justify-between">
                <div
                    class="flex-auto leading-6 cursor-pointer"
                    (click)="follow.toggle()">
                    someone follows me
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'follow'"
                    #follow>
                </mat-slide-toggle>
            </div> -->
            <!-- Inquiry -->
            <!-- <div class="flex items-center justify-between">
                <div
                    class="flex-auto leading-6 cursor-pointer"
                    (click)="inquiry.toggle()">
                    someone replies to my job posting
                </div>
                <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'inquiry'"
                    #inquiry>
                </mat-slide-toggle>
            </div> -->
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancelar
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Salvar
            </button>
        </div>
    </form>

</div>
